.charging{
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, .5);
  z-index: 30;

  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: column;
}
.iconCharging{
  position: relative;
  height: 80px;
  width: 90px;
  height: 90px;

  display: flex;
  justify-content: center;
  align-items: center;
}
.iconCharging img{
  position: relative;
  height: 40%;
  animation: rotate 6s linear infinite;
}
.barCharging{
  width: 180px;
  height: 10px;
  border: 3px solid white;
  background-color: rgba(255, 255, 255, .5);
  margin: 20px 0;
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
