.charging{
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, .5);
  z-index: 30;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.iconCharging{
  position: relative;
  height: 80px;
  width: 90px;
  height: 90px;

  display: flex;
  justify-content: center;
  align-items: center;
}
.iconCharging img{
  position: relative;
  height: 40%;
  animation: rotate 6s linear infinite;
}
.barCharging{
  position: relative;
  width: 180px;
  height: 10px;
  border: 3px solid white;
  background-color: rgba(255, 255, 255, .2);
  margin: 20px 0;
  overflow: hidden;

}
.progressBarCharging{
  position: absolute;
  top: 00px;
  left: 0px;
  height: 100%;
  width: 30%;
  background-color: white;
  overflow: hidden;
  animation: charge 4s ease infinite;

}
.charging h4{
  font-size: 1.2em;
  color: white;
  font-weight: 400;
  margin: 0;
  text-align: center;
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes charge {
  from {
    transform: translateX(0%);

  }
  to {
    transform: translateX(350%);

  }
}
